
@media only screen and (min-width: 1680px){
  #wrapper{
    padding: 1.5%;
    width: 75%;
  }
  body{
    background: none;
  }
} 

@media only screen and (min-width: 521px) and (max-width: 768px){
  #wrapper{
    padding: 3%;
  }
  header img{
    width: 75%;
  }
  .splash img{
    width: 75%;
  }
  
  footer img{
    width: 12%;
  }
} 


@media only screen and (min-width: 0px) and (max-width: 520px){
  #wrapper{
    padding: 3%;
    box-shadow: 0 0 0px #000000;
    width: 100%;
  }
  body{
    padding: 3% 0 0 0;
  }
  header img{
    width: 100%;
  }

  footer img{
    width: 22%;
  }
}

