@font-face {
    font-family: Blackout;
    src: url(../fonts/blackout_two_am-webfont.ttf);
    src: url(../fonts/Blackout-Midnight.ttf);
    src: url(http://www.1001fonts.com/blackout-font.html) format("truetype");
  }
    
* { margin:0; padding:0; box-sizing:border-box; }

article + article { 
  margin-top:1em; 
}


body {
  background-image: url(../images/canvastile2.png);
    background-repeat: repeat;
    font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #fff;
}

header {
/*background-image: url(../images/masthead-image.svg);
/*background-repeat: no-repeat;
/*padding: 6%;*/

}

header img {
    width: 92%;
    float: right;
}

#menu {
  width: 5%;
  float: left;
}

#menu img {
  width: 100%;
}

nav {
  position: fixed;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  width: 30%;
  left: 0;
  top: 0;

}

nav a {
padding-top: 50px;
padding-left: 20px;
display: block;
font-family: 'Blackout-Midnight', sans-serif;
font-size: 40px;
color: #FFF;
text-decoration: none;
}

#close {
  width: 4%;
  float: right;
}

#close img {
  width: 100%;
}

#small {
 display: none;

}

#splash img {
    width: 90%;
    padding-left: 20px; 
    padding-bottom: 20px;

}

#desktop {
  display: block;

}

#phone {
  display: none;

}

.menu-btn div {
    position: absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    vertical-align: middle;
    z-index: 99;
}

.responsive-menu {
    display: none;

}

#wrapper{
    padding: 0 3%;
    width: 100%;
    margin: auto;
}
 
.menu-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 4px 0;
    background: rgb(0,0,0);
    z-index: 99;
}
 
.expand {
    display: block !important; 
}

#columns {
    width: 100%;
    display: block;
    padding: 5px 10px;
}

.floated {
    float: left;
    width: 32.33%;
    margin: .5%;
    
}

.floated img {
  width: 100%;

}

.gallery {
  display: none;

}

.clearfix:after {
    content: ".";
    clear: auto;
    display: block;
    height: 0;
    visibility: hidden;
}

#totopicon {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#copyright {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 10px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}

footer {
  text-align: center;
}
 
 @media only screen and (max-width: 1040px) {


#splash img {
  width: 95%;
  padding-left: 40px;

}

.floated {
  width: 49%;

}

nav a {
padding-top: 10px;
padding-bottom: 25px;
font-family: 'Blackout-Midnight', sans-serif;
font-size: 1.7em;
}

#totopicon img {
 width: 6%;
 height: 6%;

}

footer img  {
width: 4%;
height: 4%;

}

}

@media only screen and (max-width: 600px) {

header {

  background-color: rgba(0,0,0,.5);
  
    /*background-image: url(../images/masthead-image-sm.svg);*/
    /*background-position: top center;*/
}

header img  {
width: 20%;
float: none;
margin: 0 auto

}


#desktop {
  display: none;

}

#small {
 display: block;

}

#large {
 display: none;

}

#menu {
  float: left;
  background-color: rgba(0,0,0,.5);

}

nav a {
font-family: 'Blackout-Midnight', sans-serif;
font-size: 1em;
}


.gallery {
  display: block; }

.hide {
  display: none; }


.floated {
  width: 99%; 

}


nav a {
padding-bottom: 25px;
font-family: 'Blackout-Midnight', sans-serif;
font-size: 1em;
}

#totopicon img {
 width: 9%;
 height: 9%;

}

footer img  {
width: 7%;
height: 7%;


 }


/*@media only screen and (min-width: 521px) and (max-width: 768px) {
  #wrapper{
    padding: 2%;
    width: 90%;
  }
  body{
    padding: 3% 0 0 0;
  }
  header img{
    width: 100%;
  }

  #columns {
    float: none;
    width: 100%;
  }

  #splash img{
    width: 80%;
}

  #footer img{
    width: 100%;
  }
}*/



