@media only screen and (max-width:1616px) {
  #splash {
    float: none;
    width: auto;
  }
}
@media only screen and (min-width:768px) {
  #splash {
    float: none;
    width: auto;
}
.mainContent {
    margin-bottom:5em;
    min-height:18em;
    padding:0 2em;
    position:relative;
    width:50%;
  }

@media only screen and (min-width:400px) {
  #splash {
    float: none;
    width: auto;
}
.mainContent {
    margin-bottom:5em;
    min-height:18em;
    padding:0 2em;
    position:relative;
    width:90%;
  }
