@font-face {
    font-family: Blackout;
    src: url(../fonts/blackout_two_am-webfont.ttf);
}
* { margin:0; padding:0; box-sizing:border-box; }
}

article + article { margin-top:1em; }

body {
 	background-image: url(../images/canvastile.png);
    background-repeat: repeat;
    font-family: 'Arial', sans-serif;
 	font-size: 18px;
 	color: #fff;
}

.splash {
    height: 100vh;
}
.display {
    height: 100vh;
}

.mainContent {
    margin: 0 auto;
    max-width: 75em;
}

.columns {
    float:left;
    padding:0 1em;
    width:33.33%;
}
#footer {
    margin: 0 auto;
    max-width: 75em;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}


